<configuration>

    <!-- CENTRAL LOG LOCATION -->
    <property name="LOG_PATH" value="./logs"/>

    <!-- SERVICE NAME -->
    <property name="SERVICE_NAME" value="Transaction_Service"/>

    <!-- COMMON PATTERN -->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} %-5level
[correlationId=%X{correlationId:-}]
[traceId=%X{traceId:-} spanId=%X{spanId:-}]
%logger - %msg%n"/>

    <!-- CONSOLE -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- FILE -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${SERVICE_NAME}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${SERVICE_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ROOT LOGGER -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
